

/* ==========================================================================
   Form 
   ========================================================================== */

.validform_wrapper {
	float: left;
	padding: 20px;
    position: relative;
	
	
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 0 5px;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 0 5px;
	-o-box-shadow:rgba(0,0,0,0.2) 0 0 5px;
	box-shadow:rgba(0,0,0,0.2) 0 0 5px;
	
	-webkit-border-top-left-radius: 30px;
	-moz-border-radius-topleft: 30px;
	border-top-left-radius: 30px;
	background: #ffffff; /* Old browsers */

	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E1YTNhMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);

	background: -moz-linear-gradient(-45deg,  #ffffff 0%, #a5a3a3 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#a5a3a3)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#a5a3a3 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(-45deg,  #ffffff 0%,#a5a3a3 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(-45deg,  #ffffff 0%,#a5a3a3 100%); /* IE10+ */

	background: linear-gradient(135deg,  #ffffff 0%,#a5a3a3 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a5a3a3',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

	-webkit-box-shadow: 5px 5px 13px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    5px 5px 13px rgba(50, 50, 50, 0.75);
	box-shadow:         5px 5px 13px rgba(50, 50, 50, 0.75);

	text-transform: none;
}

.validform_wrapper h2 {
	color: #EC1C24;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    text-transform: uppercase;
}


.validform_wrapper h3 {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	position: static;
	text-align: left;
	text-shadow: none;
}


.vf__description p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 0 0 20px 0;
}

form {
	
}

.validform_wrapper input {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	
	border-color: #7C7C7C #C3C3C3 #DDDDDD;
    border-style: solid;
    border-width: 1px;
	
	font-size: 100%;
	
	padding: 2px 0;
}

.validform_wrapper label {
	font-size: 13px;
	line-height: 150%;
    margin: 0;
    padding: 0 0 3px;
}

fieldset div {
	float: left;
	padding: 6px 1% 9px;
	/*width: 48%;*/
	width: 100%;
}


@media only screen and (min-width: 768px) {


}



@media only screen and (min-width: 1360px) {
	.validform {
		
	}
	
	fieldset div {
		
	}
}


/*.validform_wrapper fieldset div {
	float: left;
	width: 48%;
}*/
