

#wrap {
	height: 1000px;
	position: relative;
}

.entry-form section {
	width: 1024px;
	height: 1300px;
	position: relative;
}

.entry-form #wrap {
	height: 1300px;
}

.gradient,
.entry-form .vehicle-choice/*,
.icon*/ {
	display: none;
}

.landing-page .ie7-main {
	height: 719px;
	margin: 0 auto;
	width: 916px;
}

.validform_wrapper {
	position: absolute;
	left: 290px;
	z-index: 20;
}

.validform_wrapper header h3 {
	font-size: 24px;
	font-weight: normal;
}

a.or-proace,
a.or-hilux {
	display: block;
	position: absolute;
	right: 0;
	top: 650px;
	z-index: 20;
}


.entry-form .page-nav {
	/*border: 1px solid red;*/
	position: absolute;
	bottom :0;
	left: 80px;
}

a.link-home {
	background: #fff;
	color: #CF0506;
	text-shadow: none;
}

a.link-purchase {
	background-color: #ffca04;
	float: left;
}

a.link-more_toyota/*.hilux*/ {
	/*background: #fff!important;
	background-color: transparent!important;
	background-image: none!important;
	background: linear-gradient(#fff);
	background: none!important;*/
	/*color: green;
	border: 3px solid red;
	
	background:url("../your image.jpg") #fff none!important;*/
}

a.link-download {
	
}

a.link-more_unibond {

}

a.link-screwfix {

}

input.vf__button {
	display: block!important;
	width: 63px!important;
	height: 22px!important;
	font-size: 0!important;
	padding: 0!important;
	text-indent: -9999px!important;
	line-height: 0!important;
}


