.entry-form .vehicle-choice {
	margin-left: 50px;
}

.validform_wrapper {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a5a3a3',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	
	
	margin-top: 0!important;
}

a.link-more_toyota {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeef', endColorstr='#006c93',GradientType=1 ); /* IE6-8 */
}

a.link-download {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec008c', endColorstr='#880050',GradientType=1 ); /* IE6-8 */
}

a.link-more_unibond {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcb05', endColorstr='#937503',GradientType=1 ); /* IE6-8 */
}

a.link-screwfix {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dc63f', endColorstr='#587b27',GradientType=1 ); /* IE6-8 */
}

.vehicle-choice {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeeee', endColorstr='#9d9b9b',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

a .vehicle-choice:hover {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeeee', endColorstr='#9d9b9b',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.alternative .or {
	right: 200px;
}

@media only screen and (min-width: 768px) {
	.entry-form .vehicle-choice.alternative {
		margin-top: 0px;
	}
}

@media only screen and (min-width: 1358px) {
	
	section {
		width: 1300px;
	}
}


.thankyou .rotate,
.thankyou .thankyou-header {
	margin-top: 100px!important;
}

.thankyou .toyota-logo {
    width: 48px!important;
}


.thankyou .win-hilux {
	margin-left: 10px!important;
}



