
/* ==========================================================================
   IE9
   ========================================================================== */


.vehicle-choice {
	background: #c2c1c1;
}

a .vehicle-choice:hover {
	background: #e8e8e8;
}

.alternative .or {
	right: 195px;
}
