
/* ==========================================================================
   IE9
   ========================================================================== */





	/* IE Specific */

/*	section h3, 
	section h4,
	.or,
	.alternative .or {
		color: #00539D;
		text-shadow: none;
	}

	section h4 {
		color: #fff;
	}

	.its {
		color: #00539D;
		text-shadow: none;
	}

	.page-nav a {
		color: #000;
	}*/