/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Sticky Footer */

html, body {height: 100%;}
#wrap {
	/*background-color: #CF0506;*/
	min-height: 100%;
}

section {
	padding-bottom: 62px;
	/*min-height: 100%;*/
}  /* must be same height as the footer */

footer {
	position: relative;
	margin-top: -62px; /* negative value of footer height */
	height: 62px;
	clear:both;
} 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}



html {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

/* Nav */

.page-nav {
	clear: both;
	margin-right: 70px;
}

.page-nav a {
	color: #fff;
	float: left;
	min-height: 42px;
	position: relative;
	
	-webkit-border-top-left-radius: 26px;
	-moz-border-radius-topleft: 26px;
	border-top-left-radius: 26px;
	
	-webkit-box-shadow: 5px 5px 13px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    5px 5px 13px rgba(50, 50, 50, 0.75);
	box-shadow:         5px 5px 13px rgba(50, 50, 50, 0.75);
}

a.link-purchase {
	background-color: #ffca04;
	float: left;
	margin: -77px 0 0 70%;
}

a.link-more_toyota {
	background: #00aeef; /* Old browsers */

	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYWVlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDZjOTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

	background: -moz-linear-gradient(left,  #00aeef 0%, #006c93 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00aeef), color-stop(100%,#006c93)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(left,  #00aeef 0%,#006c93 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(left,  #00aeef 0%,#006c93 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(left,  #00aeef 0%,#006c93 100%); /* IE10+ */

	background: linear-gradient(to right,  #00aeef 0%,#006c93 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeef', endColorstr='#006c93',GradientType=1 ); /* IE6-8 */

	
}

a.link-download {
	background: #ec008c; /* Old browsers */

	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjMDA4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ODAwNTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

	background: -moz-linear-gradient(left,  #ec008c 0%, #880050 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ec008c), color-stop(100%,#880050)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(left,  #ec008c 0%,#880050 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(left,  #ec008c 0%,#880050 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(left,  #ec008c 0%,#880050 100%); /* IE10+ */

	background: linear-gradient(to right,  #ec008c 0%,#880050 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec008c', endColorstr='#880050',GradientType=1 ); /* IE6-8 */

/*	background-image: url('../img/icon_pdf.png');
	background-repeat: no-repeat;
	background-position: 135px -20px ;
	padding-right: 40px;
	width: 110px;*/
}

a.link-download .icon {
	position: absolute;
	right: 26px;
	top: -8px;
}

a.link-more_unibond {
	line-height: 41px;
	
	background: #ffcb05; /* Old browsers */

	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2IwNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5Mzc1MDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

	background: -moz-linear-gradient(left,  #ffcb05 0%, #937503 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffcb05), color-stop(100%,#937503)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(left,  #ffcb05 0%,#937503 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(left,  #ffcb05 0%,#937503 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(left,  #ffcb05 0%,#937503 100%); /* IE10+ */

	background: linear-gradient(to right,  #ffcb05 0%,#937503 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcb05', endColorstr='#937503',GradientType=1 ); /* IE6-8 */

	
}

a.link-screwfix {
	background: #8dc63f; /* Old browsers */

	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhkYzYzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ODdiMjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

	background: -moz-linear-gradient(left,  #8dc63f 0%, #587b27 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#8dc63f), color-stop(100%,#587b27)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(left,  #8dc63f 0%,#587b27 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(left,  #8dc63f 0%,#587b27 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(left,  #8dc63f 0%,#587b27 100%); /* IE10+ */

	background: linear-gradient(to right,  #8dc63f 0%,#587b27 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dc63f', endColorstr='#587b27',GradientType=1 ); /* IE6-8 */

/*	background-image: url('../img/icon_uk.png');
	background-repeat: no-repeat;
	background-position: center 135px;
	padding-right: 40px;
	width: 110px;*/

}

a.link-screwfix .icon {
	position: absolute;
	right: 10px;
	top: 5px;
}


header a {
	background: url('../img/logo_unibond.gif') no-repeat;
	display: block;
	height: 59px;
	margin: 20px;
	width: 160px;
}

h1 {
	line-height: 0;
	text-indent: -9999px;
}

section {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
	float: left;
	text-transform: uppercase;
	width: 100%;
	
	-webkit-border-top-left-radius: 67px;
	-moz-border-radius-topleft: 67px;
	border-top-left-radius: 67px;
	
	
	background: #6b0303; /* Old browsers */

	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNmIwMzAzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzIlIiBzdG9wLWNvbG9yPSIjY2YwNTA2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NmMDUwNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);

	background: -moz-linear-gradient(-45deg,  #6b0303 0%, #cf0506 32%, #cf0506 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#6b0303), color-stop(32%,#cf0506), color-stop(100%,#cf0506)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(-45deg,  #6b0303 0%,#cf0506 32%,#cf0506 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(-45deg,  #6b0303 0%,#cf0506 32%,#cf0506 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(-45deg,  #6b0303 0%,#cf0506 32%,#cf0506 100%); /* IE10+ */

	background: linear-gradient(135deg,  #6b0303 0%,#cf0506 32%,#cf0506 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b0303', endColorstr='#cf0506',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}


.vehicle-choice {
	margin: 0 auto;
	position: relative;
	width: 90%;
	
	-webkit-box-shadow: 5px 5px 13px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    5px 5px 13px rgba(50, 50, 50, 0.75);
	box-shadow:         5px 5px 13px rgba(50, 50, 50, 0.75);

	background: #edeeee; /* Old browsers */

	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZWRlZWVlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzlkOWI5YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);

	background: -moz-linear-gradient(-45deg,  #ffffff 0%, #9d9b9b 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#9d9b9b)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#9d9b9b 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(-45deg,  #ffffff 0%,#9d9b9b 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(-45deg,  #ffffff 0%,#9d9b9b 100%); /* IE10+ */

	background: linear-gradient(135deg,  #ffffff 0%,#9d9b9b 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeeee', endColorstr='#9d9b9b',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.vehicle-choice:hover {

	background: #edeeee; /* Old browsers */

	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZWRlZWVlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzlkOWI5YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);

	background: -moz-linear-gradient(-45deg,  #edeeee 0%, #9d9b9b 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#edeeee), color-stop(100%,#9d9b9b)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(-45deg,  #edeeee 0%,#9d9b9b 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(-45deg,  #edeeee 0%,#9d9b9b 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(-45deg,  #edeeee 0%,#9d9b9b 100%); /* IE10+ */

	background: linear-gradient(135deg,  #edeeee 0%,#9d9b9b 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeeee', endColorstr='#9d9b9b',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}


.vehicle-choice ul {
	list-style: none;
}


.win-hilux .toyota-logo {
	position: absolute;
}

.its {
	color: #FFFFFF;
	float: left;
}

section h3, 
section h4 {
	color: #fff;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
	text-align: center;
	text-shadow: 2px 2px 0px rgba(34, 31, 31, 1);
}

section h3 {
	margin: 0;
	text-transform: none;
	width: 100%;
}

h2 .win {
	clear: left;
	color: #00539d;
	display: block;
	text-align: center;
}

h2 .vehicle-name {
	color: #00539D;
	display: block;
	text-align: center;
}

section h4 {
  clear: both;
  text-transform: uppercase;
}

.win-proace {
	-webkit-border-top-left-radius: 50px;
	-moz-border-radius-topleft: 50px;
	border-top-left-radius: 50px;
}

.win-hilux h2 .win {
	color: #eb1c23;
}

.or {
	color: #fff;
  	display: block;
}


ul.entry-info {
	color: #fff;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: none;
}

ul.entry-info li {
	float: left;
	list-style: inside;
	padding: 0 20px 5px 0;
}

ul.entry-info a {
	color: #fff;
	text-decoration: underline;
}


.entry-form .vehicle-choice.alternative {
	height: auto;
	position: relative;
	width: 250px;
}

.entry-form .win-proace {
	margin-left: 0;
}

.entry-form .form-container {
	padding: 50px 0 200px 0;
	position: relative;
}

.entry-form .alternative {
	margin: 0;
}

.alternative h2 {
	float: right;
	margin: 0;
}

.alternative .win {
	font-size: 95px;
	margin-right: 20px;
}

.alternative .vehicle-name {
	font-size: 24px;
	margin-top: -18px;
	margin-right: 20px;
}

.alternative .or {
	font-size: 38px;
	right: 190px;
	top: 7px;
}

.alternative img.vehicle {
    -webkit-transform: rotate(355deg);  /* Chrome, Safari 3.1+ */
       -moz-transform: rotate(355deg);  /* Firefox 3.5-15 */
        -ms-transform: rotate(355deg);  /* IE 9 */
         -o-transform: rotate(355deg);  /* Opera 10.50-12.00 */
            transform: rotate(355deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}


/* ==========================================================================
   Form 
   ========================================================================== */

.validform_wrapper {
	float: left;
	padding: 20px;
    position: relative;
	
	
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 0 5px;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 0 5px;
	-o-box-shadow:rgba(0,0,0,0.2) 0 0 5px;
	box-shadow:rgba(0,0,0,0.2) 0 0 5px;
	
	-webkit-border-top-left-radius: 30px;
	-moz-border-radius-topleft: 30px;
	border-top-left-radius: 30px;
	background: #ffffff; /* Old browsers */

	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E1YTNhMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);

	background: -moz-linear-gradient(-45deg,  #ffffff 0%, #a5a3a3 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#a5a3a3)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#a5a3a3 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(-45deg,  #ffffff 0%,#a5a3a3 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(-45deg,  #ffffff 0%,#a5a3a3 100%); /* IE10+ */

	background: linear-gradient(135deg,  #ffffff 0%,#a5a3a3 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a5a3a3',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

	-webkit-box-shadow: 5px 5px 13px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    5px 5px 13px rgba(50, 50, 50, 0.75);
	box-shadow:         5px 5px 13px rgba(50, 50, 50, 0.75);

	text-transform: none;
}

.validform_wrapper h2 {
	color: #EC1C24;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    text-transform: uppercase;
}


.validform_wrapper h3 {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	position: static;
	text-align: left;
	text-shadow: none;
}


.vf__description p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 0 0 20px 0;
}

.validform_wrapper input {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	
	border-color: #7C7C7C #C3C3C3 #DDDDDD;
    border-style: solid;
    border-width: 1px;
	
	font-size: 100%;
	
	padding: 2px 0;
}

.validform_wrapper label {
	font-size: 13px;
	line-height: 150%;
    margin: 0;
    padding: 0 0 3px;
}

fieldset div {
	float: left;
	padding: 6px 1% 9px;
	width: 100%;
}






.page-nav {
	/*width: 90%;*/
	padding-left: 5%;
	width: 95%;
}



footer {
	position: relative;
}

footer h3 {
	color: #fff;
	float: left;
	font-style: italic;
	line-height: 35px;
	padding: 0 0 0 10px;
	text-transform: uppercase;
}

footer nav a {
	font-size: 11px;
}

.footer-inner {
	background-color: #CF0506;
	border: 14px solid #fff;
	clear: both;
	height: 34px;
}



/* Mobile First Responsive Styles */


@media only screen and (min-width: 1px) {
	
/*	.vehicle-choice {
		padding-bottom: 20px;
	}*/
	
	.vehicle-choice .vehicle {
		display: block;
		margin: 0 auto;
		width: 90%;
	}
	
	h2 .win {
		font-size: 56px;
	}
	
	.its {
		font-size: 50px;
		left: -11px;
		position: absolute;
		text-shadow: -3px 4px 0 #57585B;
		top: -34px;
	}
	
	.or {
	  	font-size: 32px;
	  	position: absolute;
		right: 50%;
		margin-right: -20px;
		text-shadow: 2px 2px 0px rgba(34, 31, 31, 1);
	  	bottom: -50px;
		z-index: 10;
	}
	
	section h3, 
	section h4 {
		font-size: 25px;
		text-shadow: 2px 2px 0px rgba(34, 31, 31, 1);
	}
	
	.win-hilux {
		margin-top: 52px;
	}
	
	.win-hilux .toyota-logo {
		top: -2px;
		right: 4px;
		width: 40px;
	}
	
	.page-nav {
		margin: 30px 0 0 0;
		width: 70%;
	}
	
	.page-nav a {
		font-size: 15px;
		margin: 0 20px 20px 0;
		padding: 8px 50px 4px 20px;
		width: 100%;
	}
	
	/* About */

	.products {
		display: block;
		margin: 0 auto;
		width: 80%;
	}

	.about-text {
		color: #fff;
		padding: 10%;
	}

	.about section h2 {
		font-size: 50px;
		line-height: 50px;
		margin-top: 96px;
		text-shadow: 2px 2px 0px rgba(34, 31, 31, 1);
	}

	.about section h3 {
		font-size: 21px;
		font-style: italic;
		line-height: 25px;
		position: static;
		text-align: left;
		text-shadow: none;
	}

	.about section h3,
	.about section p {
		font-family: Arial, Helvetica, sans-serif;
		text-transform: none;
	}
	
	.entry-form .form-container {
		height: 900px;
		margin: 30px;
		padding: 0;
	}
	
	.entry-form .rotate {
		display: none;
	}
	
/*	.entry-form .vehicle-choice.alternative {
	  left: -20px;
	  top: 700px;
	}*/
	
	.thankyou .rotate {
		display: none;
	}
	
	.thankyou-header {
		font-size: 32px;
	  	line-height: 44px;
		margin: 30px 0 23px;
	  	text-align: center;
		text-shadow: 4px 4px 0 #221F1F;
	}
	
	.closed .rotate {
		display: none;
	}
	
	.closed-banner h3 {
		height: auto;
		top: 50%;
	}
	
	footer nav a {
		display: block;
	}
	
	.footer-inner h3 {
		float: left;
		padding-left: 14px;
	}
	
	footer nav {
		clear: both;
	}
	
	footer nav a {
		color: #000;
		padding-left: 14px;
	}
	
	footer h3 {
		font-size: 15px;
		line-height: 18px;
		margin-top: 9px;
	}
	
	.footer-inner {
		height: 50px;
	}
}

@media only screen and (min-width: 320px) {
	.win-hilux .toyota-logo {
		width: 50px;
	}
	
	.footer-inner {
		height: 34px;
	}
}

@media only screen and (min-width: 480px) {
	.rotate {
		margin-top: 40px;
	}
	
	.vehicle-choice {
		float: left;
		/*padding-bottom: 0;*/
	}
	
	.vehicle-choice .vehicle {
		width: 100%;
	}
	
	.win-proace {
		margin-left: 17px;
	}
	
	.win-proace .vehicle {
		margin-left: -10px;
	}
	
	.win-hilux h2 {
		margin-left: -29px;
	}
	
	.thankyou .rotate {
		display: block;
	}
	
	.thankyou-header {
		font-size: 58px;
	  	line-height: 65px;
	}
	
	.thankyou section nav {
		/*margin: 50px 0 60px 20px;*/
	}	
	
	.vehicle-choice {
		height: 317px;
		width: 216px;
	}
	
	.win-hilux .vehicle {
		margin-left: 10px;
	}

	.win-proace {
		-webkit-border-top-left-radius: 30px;
		-moz-border-radius-topleft: 30px;
		border-top-left-radius: 30px;
	}

	h2 .win {
		font-size: 86px;
		margin-top: -10px;
		text-shadow: -3px 4px 0px rgba(255, 255, 255, 1);
	}

	h2 .vehicle-name {
		font-size: 22px;
		margin-top: -18px;
		text-shadow: -3px 4px 0 #FFFFFF;
	}
	
	section h3 {
		position: absolute;
		/*bottom: 0;*/
	}

	.win-hilux {
		margin: 0 0 0 12px;
	}

	.or {
	  	right: -22px;
	  	top: 16%;
		margin: 0;
	}

	.toyota-logo {
		width: 48px;
	}

	section nav {
		float: left;
	}
	
	.page-nav {
		/*width: 56%;*/
		width: 38%;
	}
	
	
	/* Entry Form */
	


	
	
	/* Closed */
	
	.closed .rotate {
		display: block;
	}
	
	.closed-banner h3 {
		font-size: 42px;
	}

	.footer-inner {
		clear: none;
		margin-left: 120px;
	}
	
	footer h3 {
		font-size: 20px;
		line-height: 35px;
		margin: 0;
	}
	
	footer nav a {
		display: inline-block;
	}
}



@media only screen and (min-width: 640px) {
	.validform_wrapper {
		width: 80%;
		margin-left: 5%;
	}
	
	.entry-form .vehicle-choice.alternative {
		clear: left;
	    margin: 20px 0 100px 40px;
		transform: none;
	}
}

@media only screen and (min-width: 768px) {
	.rotate {
		float: left;
		margin-top: 46px;
	
	    -webkit-transform: rotate(350deg);  /* Chrome, Safari 3.1+ */
	       -moz-transform: rotate(350deg);  /* Firefox 3.5-15 */
	        -ms-transform: rotate(350deg);  /* IE 9 */
	         -o-transform: rotate(350deg);  /* Opera 10.50-12.00 */
	            transform: rotate(350deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
			
				transform-origin: top left;  
	}
	
	.vehicle-choice {
		height: 454px;
		margin-left: 96px;
		width: 265px;
	}
	
	.vehicle-choice .vehicle {
	
	    -webkit-transform: rotate(10deg);  /* Chrome, Safari 3.1+ */
	       -moz-transform: rotate(10deg);  /* Firefox 3.5-15 */
	        -ms-transform: rotate(10deg);  /* IE 9 */
	         -o-transform: rotate(10deg);  /* Opera 10.50-12.00 */
	            transform: rotate(10deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
	}
	

	
	.win-hilux .vehicle {
		margin-top: 40px;
		width: 112%;
	}
	
	.its {
		font-size: 68px;
		left: -37px;
		position: absolute;
		text-shadow: -3px 4px 0 #57585B;
		top: -49px;
	}
	
	.or {
		font-size: 44px;
		right: -27px;
	}

	h2 .win {
		font-size: 114px;
		text-shadow: -3px 4px 0px rgba(255, 255, 255, 1);
	}

	h2 .vehicle-name {
		font-size: 32px;
		margin-top: -30px;
		text-shadow: -1px 2px 0 #FFFFFF;
	}
	
	section h3, 
	section h4 {
		font-size: 35px;
	}

	section h4 {
		float: left;
	  	font-size: 32px;
	  	margin: 0 0 0 80px;
	  	/*padding: 42px 0 0 0;*/
	  	text-shadow: 4px 4px 0 #221F1F;
	  	/*width: 600px;*/
	}

	.win-hilux {
		margin: 0 0 0 12px;
	}

	ul.entry-info {
		font-size: 16px;
	}
	
	.page-nav {
		width: 95%;
		/*margin-left: 38px;*/
	}
	
	.page-nav a {
		font-size: 13px;
		padding: 8px 40px 4px 20px;
		width: 123px;
	}
	

	

	
	
	/* About */
	
	.products {
		float: right;	
		padding: 140px 30px 0 30px;
		width: 280px;
	}
	
	.about-text {
		float: right;
		padding: 0;
		width: 400px;
	}
	
	
	.thankyou .rotate {
		margin-top: 38px;
	}
	
	.thankyou .vehicle-choice {
		margin-left: 20px;
	}
	
	.thankyou-header {
	  	float: left;
	  	font-size: 55px;
	  	line-height: 56px;
	  	margin: 59px 0 0 90px;
	  	width: 26%;
	}
	
	
	
	/* Entry Form 1 column */
	
	.validform_wrapper {
		margin: 50px 0 50px 50px;
		width: 500px;
	}
	
	.entry-form .vehicle-choice.alternative {
		margin: -63px 0 100px 70px;
		
	    -webkit-transform: rotate(10deg);  /* Chrome, Safari 3.1+ */
	       -moz-transform: rotate(10deg);  /* Firefox 3.5-15 */
	        -ms-transform: rotate(10deg);  /* IE 9 */
	         -o-transform: rotate(10deg);  /* Opera 10.50-12.00 */
	            transform: rotate(10deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
		
				transform-origin: top left;  
	}
	

	fieldset div {
		width: 48%;
	}
	
	
	/* Closed */
	
	.closed-banner h3 {
		font-size: 64px;
	}
	
	
	footer nav {
		clear: none;
		float: right;
		margin-right: -1px;
		position: absolute;
		bottom: 22px;
		right: 14px;
	}

	footer nav a {
		border-right: 1px solid #fff;
		color: #fff;
		line-height: 11px;
		margin-top: 13px;
		padding: 0 10px 0 5px;
	}
}

@media only screen and (min-width: 1024px) {	
	.vehicle-choice {
		height: 540px;
		width: 337px;
	}
	
	h2 .win {
		font-size: 140px;
		/*margin-left: -40px;*/
	}
	
	h2 .vehicle-name {
		font-size: 37px;
		/*margin: -25px 0 0 50px;*/
		/*text-shadow: -3px 4px 0 #FFFFFF;*/
	}
	
	.its {
		font-size: 80px;
		top: -52px;
	}
	
	.win-hilux .toyota-logo,
	.entry-form .toyota-logo {
		position: absolute;
		top: -2px;
		right: 8px;
		width: 65px;
	}
	
	.win-hilux h2,
	.entry-form .vehicle-choice h2 {
		margin-left: -40px;
	}
	
	section h4 {
		font-size: 38px;
	}
	
	.page-nav a {
		font-size: 15px;
		margin-right: 40px;
		padding: 8px 8px 4px 24px;
		width: 150px;
	}
	
	
	/* About */
	
	.about-container {
		width: 900px;
	}
	
	.products {
		padding: 120px 50px 0 59px;
		width: 350px;
	}
	
	.about-text {
		width: 439px;
	}
	
	
	/* Entry Form */
	
	.entry-form .vehicle-choice.alternative {
		clear: none;
		height: auto;
		margin: 500px 0 0 0;
	}
		
	
	
	/* Thank You */
	
	
	.thankyou .rotate {
		margin-top: 172px;
	}
	
	.thankyou .vehicle-choice {
		margin-left: 96px;
	}
	
	.thankyou-header {
		font-size: 75px;
		line-height: 82px;
		margin: 146px 0 0 90px;
		width: 30%;
	}

	
	
	/* Closed */
	
	.closed-banner h3 {
	  	font-size: 72px;
	}
}


@media only screen and (min-width: 1170px) {
	/* Entry Form */
	
	.entry-form .rotate {
		display: none;
	}
	
	.entry-form .rotate .vehicle-choice {
		height: 430px;
	}
	
	.entry-form .rotate .vehicle-choice h2 .win {
		font-size: 86px;
		margin-top: -10px;
		text-shadow: -3px 4px 0px rgba(255, 255, 255, 1);
	}

	.entry-form .rotate .vehicle-choice h2 .vehicle-name {
		font-size: 22px;
		margin-top: -18px;
		text-shadow: -3px 4px 0 #FFFFFF;
	}
}


@media only screen and (min-width: 1358px) {
	
	/* Entry Form */	
	
	.entry-form .rotate {
		display: block;
	}
	
	.entry-form .form-container {
		width: 1022px;
	}
	
	.entry-form .rotate .vehicle-choice {
		height: 540px;
		width: 337px;
	    
	}
}	







footer {
  /*position:  absolute;
  bottom:  0;
  width:  100%;*/
  
  background-color: #fff;
  float: left;
  width: 100%;
}

footer h2 {
	/*background: url('../img/logo_unibond.gif') no-repeat;*/
	float: left;
	line-height: 0;
	text-indent: -9999px;
}

.logo-footer {
	float: left;
	width: 86px;
}

.logo-footer img {
	border: 14px solid #fff;
	width: 100%;
}






/* Thank You */

.thankyou-header {
	color: #fff;
	float: left;
}

.thankyou .vehicle-choice {
	height: 317px;
	width: 216px;
}

.win-proace {
	-webkit-border-top-left-radius: 30px;
	-moz-border-radius-topleft: 30px;
	border-top-left-radius: 30px;
}

.thankyou .its {
	font-size: 50px;
	left: -11px;
	position: absolute;
	text-shadow: -3px 4px 0 #57585B;
	top: -34px;
}

.thankyou h2 .win {
	font-size: 86px;
	margin-top: -10px;
	text-shadow: -3px 4px 0px rgba(255, 255, 255, 1);
}

.thankyou h2 .vehicle-name {
	font-size: 22px;
	margin-top: -18px;
	text-shadow: -3px 4px 0 #FFFFFF;
}

.thankyou .win-hilux {
	margin: 0 0 0 12px;
}

.thankyou .or {
  	font-size: 32px;
  	right: -22px;
}

.thankyou .toyota-logo {
	width: 48px;
}

.thankyou section nav {
	float: left;
}


/* Closed */

.closed-banner h3 {
  	background-color: #ED1C24;
  	/*font-size: 72px;*/
  	/*height: 100px;*/
  	/*left: 86px;*/
	left: 10%;
  	position: absolute;
  	text-transform: uppercase;
  	top: 361px;
	width: 80%;
/*  	width: 725px;*/
}

.closed h4 {
  	bottom: 29px;
  	color: #EC1C24;
  	font-size: 32px;
  	left: 33px;
  	line-height: 39px;
  	position: absolute;
  	text-align: left;
  	width: 200px;
}

.logo_unibond-large {
	position: absolute;
	bottom: 0;
	left: 293px;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
